.form {
  margin-bottom: 50px;
}

.form input, button {
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 2%;
  margin: 5px;
  text-align: center;
  font-weight: bold;
}

.form input {
  width: 30%;
  color: #FFFFFF;
}

/* placeholder colorint */
::-webkit-input-placeholder { /* Chrome */
  color: #FFFFFF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFFFFF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFF;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #FFFFFF;
  opacity: 1;
}

.form button {
  width: 5%;
  color: #FFFFFF;
}

.places{
    margin: auto;
    width: 80%;
}

.places button {
  color: #FFFFFF;
  width: 10%;
  padding: 5px;
}

.onePlace {
    border: solid #FFFFFF;
    border-radius: 2%;
    margin: 5px;
    text-align: left;
    min-height: 250px;
    padding: 0px;
}

.image {
  width: 30%;
  padding: 3px;
}

.placeInfo {
  min-height: 250px;
  clear: both;
  float: right;
  width: 65%;
}

img {
  max-height: 250px;
  width: 100%

}
